* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
.Nav-section {
    top: 58.4px; 
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    height: 41.37px;
    max-width: 1423px;
    width: 75%;
}
.Logo-container {
    height: 41.37px; 
 }
 
.Nav-section ul {
    /* position: absolute; */
    list-style-type: none;
    display: flex;

}

.Nav-section ul li {
    font-family: 'Montserrat';
    font-size: 20.96px;
    height: 25px;
    font-weight: 700;  /* needs to be bolder*/
    color: #256C90;
}

.Nav-section ul li:not(:last-child){
    margin-right: 45px;
}

.Nav-hamburger {
    display: none;
}



/* ----------------------------------------------------------------- */

.Hero-section {
    width: 100%;
    /* height: 1054px; */
    min-height: 1054px;
    height: auto;
    background-color: #CEF4F3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Hero-section-container{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: flex-end;
    max-width: 1672px;
    width: 88%;
    
    margin: 0 auto;
    margin-top: 167px;
    padding-bottom: 65px;

}

.Hero-section-container-section:first-child{
    margin-right: 87.8px;
}

.Hero-title-container {
    display: flex;
    flex-wrap: wrap;
}

.Hero-section-timeto {
    font-family:"canada-type-gibson";
    font-size: 94px;
    font-weight: 600;
    letter-spacing: -23;
    margin-right: 8px; /* doesnt specify distance but design has space*/
    color: #204566;
}

.Hero-section-thrive {
    font-family:"canada-type-gibson";
    font-size: 94px;
    font-style:italic;
    font-weight: 600;
    letter-spacing: -23;
    color: #569DC1;
}

.Hero-section div p {
    font-family: 'Montserrat';
    font-size: 23px;
    font-weight: 600; /* Medium font but 400 looks too light*/
    color: #3B7BA3;
    max-width: 586.61px;
    width: auto;
    height: auto;
    margin-top: 64px;
    line-height: 30px;
}

.Hero-section div button {
    width: 240.79px;
    height: 59.04px;
    border-style: none;
    background-color: #569DC1;
    font-size: 25px;
    font-family:"canada-type-gibson";
    font-weight: 600;
    color: white;
    margin-top: 60px;
}

.Illustration-image {
    max-width: 879.04px;
    width: 100%;
    height: auto;
}

/* ----------------------------------------------------------------- */


.Solution-cards {
    max-width: 1672px;
    width: 88%;
    height: auto;
    
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
 
    padding-top: 102.5px;
    padding-bottom: 102.5px;
    margin: 0 auto;
    margin-top: -42px;
    background-color: #204566;
}

.Solution-cards-paragraph {
    font-size:  38px;
    font-family: 'Montserrat';
    font-weight: 600;
    color: white;

}

.Solution-cards-button {
    background-color: #F4BD51;
    height: 59.04px;
    width: 240.79px;

    border-style: none;
    font-size: 25.46px;
    font-weight: 600;
    color: white;

}


/* ----------------------------------------------------------------- */


.Solution-cards-container {
    margin: 0 auto;
    margin-top: 87px;
    box-shadow: inset 0px 0px 0px 20px #569DC1;
    max-width: 1670px;
    width: 88%;
    min-height: 878.84px;
    height: auto;
 
}

.Solution-cards-statement{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-height: 100%;
    max-width: 1117px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 91px;
    right: 145px;
    flex-wrap: wrap;
    
}

.Solution-cards-statement-slogan{
    font-family:"canada-type-gibson";
    font-size: 75px;
    color: #569DC1;
    margin-left: 142.4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 227.37px;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.better-care {
    font-style: italic;
}
.puzzle-piece {
    height: 177.75px;
    width: 237.65px;
    margin-left: 120px;
}
/* ----------------------------------------------------------------- */

.Solution-cards-info-container{
    position: relative;
    display: flex;
    justify-content: center;
    bottom: -145px;
    flex-wrap: wrap;
    gap: 27px;
}

.Solution-cards-info{
    max-width: 475px;
    min-height: 533px;
    height: 100%;
    background-color: #CEF4F3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 27px;

}

.Solution-cards-info-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Solution-cards-info-header {
    font-family:"canada-type-gibson";
    color: #606060;
    font-size: 49px;
    font-weight: 600;
    width: 80%;
    height: 119.57px;
    margin-top: 29px;
    height: 100%;
}

.Solution-cards-info-paragraph{
    font-family: 'Montserrat';
    font-weight: 600;
    line-height: 35px;
    width: 80%;
    font-size: 22px;
    color: #707070;
    margin-top: 32.4px;

}

/* ----------------------------------------------------------------- */
.Netowork-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 434px;
}
.Network-cta-main {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    max-width: 1670px;
    width: 100%;
}
.Network-cta-container {
    margin-top: 246.2px;
    width: 973px;
    height: 343px;
    background-color: #569DC1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 75.8px;
    position: absolute;
    z-index: 3;
    left: 0px;
    top:-84px;
}

.Network-cta-header{
    font-family: 'Montserrat';
    font-size: 38px;
    font-weight: 700;
    color:#FFFFFF;
    margin-bottom: 65px;
    letter-spacing: 1px;
}

.Network-cta-buttons {
    display: flex;
    width: auto;

}

.Network-button-partner {
    width: 281.79px;
    height: 59.04px;
    text-align: start;
    padding-left: 35.9px;
    background-color: #20456600;
    box-shadow: inset 0px 0px 0px 2.5px #F4BD51;
    border-style: solid;
    border-color: #F4BD51;
    font-size: 25.46px;
    color: white;
    margin-right: 44.2px;
}

.Network-button-join {
    width: 281.79px;
    height: 59.04px;
    color: white;
    background-color: #F4BD51;
    font-size: 25.46px;
    border-style: none;
    text-align: start;
    padding-left: 24.9px;
    
}

.Network-illustration-image {
    max-width: 774.43px;
    width: 100%;
    height: auto;

}


/* ----------------------------------------------------------------- */

footer {
    height: 341px;
    background-color: #204566;
    margin-top: 402px;

}

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 79px;
    max-width: 1670px;
    width: 80%;
    margin: 0 auto;

}
.footer-contact {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    color: white;
}


.footer-links{
    color:#F4BD51;
    font-weight: 600;
    font-size: 20.96px;
    display: flex;
    flex-direction: row;
}

.footer-links ul {
    list-style-type: none;
}

.footer-links-first-column li:not(:first-child)  {
    margin-top: 10px;
}

.footer-links-second-column li:not(:first-child)  {
    margin-top: 10px;
}
/* ----------------------------------------------------------------- */

button:hover {
    cursor: pointer;
}
@media only screen and (max-width: 1280px) {
    .Nav-hamburger {
        display: block;
    }
    .Nav-section ul {
        display: none;
    }
    .Solution-cards{
        justify-content: flex-start;
    }
    .Solution-cards-button{
        margin-left: 40px;
    }
    .Solution-cards-paragraph {
        margin: 40px;
    }
}
@media only screen and (max-width: 1078px) {
    .puzzle-piece {
        margin-left: 140px;
    }
}
@media only screen and (max-width: 1768px) {
    .Hero-section-container{
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;
        max-width: 1672px;
        width: 88%;
        margin: 0 auto;
        margin-top: 167px;
    }
    .Hero-section-container-section:first-child{
        margin-right: 0px;
    }
}

@media only screen and (max-width: 768px) {

    .Solution-cards-button{
        width: 320px;
    }
    .Solution-cards-button{
        margin-left: 0px;
        margin: 0 auto;
        width: 85%;
    }
    .Solution-cards-info-paragraph{ 
        margin-bottom: 32px;

    }
    .Network-cta-header {
        text-align: center;
        margin-top: 65px;
    }
    .Network-cta-buttons {
        flex-direction: column;
        align-items: center
    }
    .Network-button-partner{
        margin-right: 0px;
    }
    .Network-cta-container {
        align-items: center;
        padding-left: 0px;
        height: auto;
        padding-bottom: 65px;
    }
    .Network-button-join {
        margin-top: 23px;
    }
    .footer-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }
    footer {
        height: auto;

    }
}

@media only screen and (max-width: 1676px) {
  .Network-cta-container{
    position:relative;
    z-index: 0;
    max-width: 973px;
    width: 100%;
    
  }
  .Network-cta-main{
    /* margin-top: 200px; */
    position:relative;
    flex-direction: column;
    align-items: center
  }

  .Netowork-wrapper {
    margin-top: 100px;
  }
  footer {
    margin-top: 0px;
  }
}





